.page.theme_dark {
  --main-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --header-color: rgba(219, 0, 255, 1);
  --record-status: block;
  --hover-color: rgba(241, 178, 206, 0.4);
  --bckg-image: url(../images/cover-image-dark.png);
}

.rec__decoration:before {
  content: "REC";
  color: var(--accent-color);
  top: 0;
  right: 0;
  position: absolute;
  color: var(--accent-color);
  font-size: 18px;
  padding-right: 27px;
}

.rec__decoration::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
  background-color: var(--accent-color);
  top: 8px;
  right: 9px;
}
