.page.theme_light {
  --main-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --header-color: rgba(255, 194, 230, 1);
  --record-status: none;
  --hover-color: rgba(53, 52, 48, 0.4);
  --bckg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: rgba(255, 241, 247, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --header-color: rgba(255, 194, 230, 1);
    --record-status: none;
    --hover-color: rgba(53, 52, 48, 0.4);
    --bckg-image: url(../images/cover-image-light.png);
  }
}
